.css_id_room__label {text-align:;}
.css_id_room__line {text-align:left;}
.css_id_room__obj {text-align:left;}
.css_room_descr__label { }
.css_room_descr__line { }
.css_room_descr__obj { }
.css_room_active__label { }
.css_room_active__line {text-align:left;}
.css_room_active__obj {text-align:left;}
