.css_colaborador_det_label, .css_colaborador_det_label:hover {text-align: left;vertical-align: middle;}
.css_colaborador_det_line, .css_colaborador_det_line:hover {height:0px;text-align: left;}
.css_desc_falta_det_label, .css_desc_falta_det_label:hover {text-align: left;vertical-align: middle;}
.css_desc_falta_det_line, .css_desc_falta_det_line:hover {height:0px;text-align: left;}
.css_fecha_falta_det_label, .css_fecha_falta_det_label:hover {text-align: left;vertical-align: middle;}
.css_fecha_falta_det_line, .css_fecha_falta_det_line:hover {height:0px;text-align: left;}
.css_usuario_registro_det_label, .css_usuario_registro_det_label:hover {text-align: left;vertical-align: middle;}
.css_usuario_registro_det_line, .css_usuario_registro_det_line:hover {height:0px;text-align: left;}
.css_perfil_r_det_label, .css_perfil_r_det_label:hover {text-align: left;vertical-align: middle;}
.css_perfil_r_det_line, .css_perfil_r_det_line:hover {height:0px;text-align: left;}
.css_fecha_registro_det_label, .css_fecha_registro_det_label:hover {text-align: left;vertical-align: middle;}
.css_fecha_registro_det_line, .css_fecha_registro_det_line:hover {height:0px;text-align: left;}
.css_usuario_sancion_det_label, .css_usuario_sancion_det_label:hover {text-align: left;vertical-align: middle;}
.css_usuario_sancion_det_line, .css_usuario_sancion_det_line:hover {height:0px;text-align: left;}
.css_perfil_s_det_label, .css_perfil_s_det_label:hover {text-align: left;vertical-align: middle;}
.css_perfil_s_det_line, .css_perfil_s_det_line:hover {height:0px;text-align: left;}
.css_fecha_sancion_det_label, .css_fecha_sancion_det_label:hover {text-align: left;vertical-align: middle;}
.css_fecha_sancion_det_line, .css_fecha_sancion_det_line:hover {height:0px;text-align: left;}
.css_tipo_falta_descripcion_det_label, .css_tipo_falta_descripcion_det_label:hover {text-align: left;vertical-align: middle;}
.css_tipo_falta_descripcion_det_line, .css_tipo_falta_descripcion_det_line:hover {height:0px;text-align: left;}
.css_estado_sancion_det_label, .css_estado_sancion_det_label:hover {text-align: left;vertical-align: middle;}
.css_estado_sancion_det_line, .css_estado_sancion_det_line:hover {height:0px;text-align: left;}
.css_tipo_sancion_det_label, .css_tipo_sancion_det_label:hover {text-align: left;vertical-align: middle;}
.css_tipo_sancion_det_line, .css_tipo_sancion_det_line:hover {height:0px;text-align: left;}
.css_evidencia_det_label, .css_evidencia_det_label:hover {text-align: left;vertical-align: middle;}
.css_evidencia_det_line, .css_evidencia_det_line:hover {height:0px;text-align: left;}
.css_area_det_label, .css_area_det_label:hover {text-align: left;vertical-align: middle;}
.css_area_det_line, .css_area_det_line:hover {height:0px;text-align: left;}
.css_area_colaborador_det_label, .css_area_colaborador_det_label:hover {text-align: left;vertical-align: middle;}
.css_area_colaborador_det_line, .css_area_colaborador_det_line:hover {height:0px;text-align: left;}
.css_area_registro_det_label, .css_area_registro_det_label:hover {text-align: left;vertical-align: middle;}
.css_area_registro_det_line, .css_area_registro_det_line:hover {height:0px;text-align: left;}
.css_tiempo_transcurrido_det_label, .css_tiempo_transcurrido_det_label:hover {text-align: left;vertical-align: middle;}
.css_tiempo_transcurrido_det_line, .css_tiempo_transcurrido_det_line:hover {height:0px;text-align: left;}
