.css_id_agenda_det_label, .css_id_agenda_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_agenda_det_line, .css_id_agenda_det_line:hover {height:0px;text-align: right;}
.css_id_tecnico_det_label, .css_id_tecnico_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_tecnico_det_line, .css_id_tecnico_det_line:hover {height:0px;text-align: right;}
.css_id_cliente_det_label, .css_id_cliente_det_label:hover {text-align: right;vertical-align: middle;}
.css_id_cliente_det_line, .css_id_cliente_det_line:hover {height:0px;text-align: right;}
.css_valor_det_label, .css_valor_det_label:hover {text-align: right;vertical-align: middle;}
.css_valor_det_line, .css_valor_det_line:hover {height:0px;text-align: right;}
.css_costes_adicionales_det_label, .css_costes_adicionales_det_label:hover {text-align: right;vertical-align: middle;}
.css_costes_adicionales_det_line, .css_costes_adicionales_det_line:hover {height:0px;text-align: right;}
.css_descuento_det_label, .css_descuento_det_label:hover {text-align: right;vertical-align: middle;}
.css_descuento_det_line, .css_descuento_det_line:hover {height:0px;text-align: right;}
.css_valor_total_det_label, .css_valor_total_det_label:hover {text-align: right;vertical-align: middle;}
.css_valor_total_det_line, .css_valor_total_det_line:hover {height:0px;text-align: right;}
.css_fecha_inicial_det_label, .css_fecha_inicial_det_label:hover {text-align: right;vertical-align: middle;}
.css_fecha_inicial_det_line, .css_fecha_inicial_det_line:hover {height:0px;text-align: right;}
.css_hora_inicial_det_label, .css_hora_inicial_det_label:hover {text-align: right;vertical-align: middle;}
.css_hora_inicial_det_line, .css_hora_inicial_det_line:hover {height:0px;text-align: right;}
.css_fecha_final_det_label, .css_fecha_final_det_label:hover {text-align: right;vertical-align: middle;}
.css_fecha_final_det_line, .css_fecha_final_det_line:hover {height:0px;text-align: right;}
.css_hora_final_det_label, .css_hora_final_det_label:hover {text-align: right;vertical-align: middle;}
.css_hora_final_det_line, .css_hora_final_det_line:hover {height:0px;text-align: right;}
.css_estado_actual_det_label, .css_estado_actual_det_label:hover {text-align: right;vertical-align: middle;}
.css_estado_actual_det_line, .css_estado_actual_det_line:hover {height:0px;text-align: right;}
.css_recurrencia_det_label, .css_recurrencia_det_label:hover {text-align: right;vertical-align: middle;}
.css_recurrencia_det_line, .css_recurrencia_det_line:hover {height:0px;text-align: right;}
.css_periodo_det_label, .css_periodo_det_label:hover {text-align: right;vertical-align: middle;}
.css_periodo_det_line, .css_periodo_det_line:hover {height:0px;text-align: right;}
.css_evaluacion_det_label, .css_evaluacion_det_label:hover {text-align: right;vertical-align: middle;}
.css_evaluacion_det_line, .css_evaluacion_det_line:hover {height:0px;text-align: right;}
