.css_id_agenda_label, .css_id_agenda_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_agenda_grid_line, .css_id_agenda_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_tecnico_label, .css_id_tecnico_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_tecnico_grid_line, .css_id_tecnico_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_cliente_label, .css_id_cliente_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_cliente_grid_line, .css_id_cliente_grid_line:hover {vertical-align: top;text-align: right;}
.css_valor_label, .css_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line, .css_valor_grid_line:hover {vertical-align: top;text-align: right;}
.css_costes_adicionales_label, .css_costes_adicionales_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_costes_adicionales_grid_line, .css_costes_adicionales_grid_line:hover {vertical-align: top;text-align: right;}
.css_descuento_label, .css_descuento_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_descuento_grid_line, .css_descuento_grid_line:hover {vertical-align: top;text-align: right;}
