.css_id_tipos_agenda__label {text-align:;}
.css_id_tipos_agenda__line {text-align:left;}
.css_id_tipos_agenda__obj {text-align:left;}
.css_descripcion__label { }
.css_descripcion__line { }
.css_descripcion__obj { }
.css_duracion_mostrada__label {text-align:;}
.css_duracion_mostrada__line {text-align:left;}
.css_duracion_mostrada__obj {text-align:left;}
.css_tipo_duracion__label { }
.css_tipo_duracion__line { }
.css_tipo_duracion__obj { }
.css_duracion__label {text-align:;}
.css_duracion__line {text-align:left;}
.css_duracion__obj {text-align:left;}
.css_valor__label {text-align:;}
.css_valor__line {text-align:left;}
.css_valor__obj {text-align:left;}
.css_activado__label { }
.css_activado__line { }
.css_activado__obj { }
