.css_ticketpriorityid__label {text-align:left;}
.css_ticketpriorityid__line {text-align:left;}
.css_ticketpriorityid__obj {text-align:left;}
.css_priorityname__label { }
.css_priorityname__line { }
.css_priorityname__obj { }
.css_priorityicon__label { }
.css_priorityicon__line { }
.css_priorityicon__obj { }
