.css_id_customer_label {text-align:;}
.css_id_customer_line {text-align:left;}
.css_id_customer_obj {text-align:left;}
.css_customer_num_doc_label { }
.css_customer_num_doc_line { }
.css_customer_num_doc_obj { }
.css_customer_name_label { }
.css_customer_name_line { }
.css_customer_name_obj { }
.css_customer_birthday_label { }
.css_customer_birthday_line { }
.css_customer_birthday_obj { }
.css_customer_gender_label { }
.css_customer_gender_line { }
.css_customer_gender_obj { }
.css_customer_phone1_label { }
.css_customer_phone1_line { }
.css_customer_phone1_obj { }
.css_customer_phone2_label { }
.css_customer_phone2_line { }
.css_customer_phone2_obj { }
.css_customer_address_label { }
.css_customer_address_line { }
.css_customer_address_obj { }
.css_id_country_label { }
.css_id_country_line {text-align:left;}
.css_id_country_obj {text-align:left;}
.css_doctype_label { }
.css_doctype_line { }
.css_doctype_obj { }
