.css_login_label, .css_login_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_login_grid_line, .css_login_grid_line:hover {vertical-align: top;text-align: right;}
.css_name_label, .css_name_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_name_grid_line, .css_name_grid_line:hover {vertical-align: top;text-align: right;}
.css_email_label, .css_email_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_grid_line, .css_email_grid_line:hover {vertical-align: top;text-align: right;}
.css_active_label, .css_active_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_active_grid_line, .css_active_grid_line:hover {vertical-align: top;text-align: right;}
