.css_login_det_label, .css_login_det_label:hover {text-align: right;vertical-align: middle;}
.css_login_det_line, .css_login_det_line:hover {height:0px;text-align: right;}
.css_contrasena_det_label, .css_contrasena_det_label:hover {text-align: right;vertical-align: middle;}
.css_contrasena_det_line, .css_contrasena_det_line:hover {height:0px;text-align: right;}
.css_nombre_det_label, .css_nombre_det_label:hover {text-align: right;vertical-align: middle;}
.css_nombre_det_line, .css_nombre_det_line:hover {height:0px;text-align: right;}
.css_email_det_label, .css_email_det_label:hover {text-align: right;vertical-align: middle;}
.css_email_det_line, .css_email_det_line:hover {height:0px;text-align: right;}
.css_activo_det_label, .css_activo_det_label:hover {text-align: right;vertical-align: middle;}
.css_activo_det_line, .css_activo_det_line:hover {height:0px;text-align: right;}
.css_codigo_activacion_det_label, .css_codigo_activacion_det_label:hover {text-align: right;vertical-align: middle;}
.css_codigo_activacion_det_line, .css_codigo_activacion_det_line:hover {height:0px;text-align: right;}
.css_privilegio_administrador_det_label, .css_privilegio_administrador_det_label:hover {text-align: right;vertical-align: middle;}
.css_privilegio_administrador_det_line, .css_privilegio_administrador_det_line:hover {height:0px;text-align: right;}
