.css_blk_0, .css_blk_0:hover {}
.css_articledate_label, .css_articledate_label:hover {text-align:center;}
.css_articledate_grid_line, .css_articledate_grid_line:hover {vertical-align: top;}
.css_articlesubject_label, .css_articlesubject_label:hover {text-align:center;}
.css_articlesubject_grid_line, .css_articlesubject_grid_line:hover {vertical-align: top;}
.css_articlecontent_label, .css_articlecontent_label:hover {text-align:center;}
.css_articlecontent_grid_line, .css_articlecontent_grid_line:hover {vertical-align: top;}
.css_rating_label, .css_rating_label:hover {text-align:center;}
.css_rating_grid_line, .css_rating_grid_line:hover {vertical-align: top;}
.css_votes_label, .css_votes_label:hover {text-align:center;}
.css_votes_grid_line, .css_votes_grid_line:hover {vertical-align: top;}
.css_articleview_label, .css_articleview_label:hover {text-align:center;}
.css_articleview_grid_line, .css_articleview_grid_line:hover {vertical-align: top;}
