.css_id_agenda_label { }
.css_id_agenda_line {text-align:left;}
.css_id_agenda_obj {text-align:left;}
.css_id_tecnico_label { }
.css_id_tecnico_line {text-align:left;}
.css_id_tecnico_obj {text-align:left;}
.css_id_cliente_label { }
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_costes_adicionales_label { }
.css_costes_adicionales_line {text-align:left;}
.css_costes_adicionales_obj {text-align:left;}
.css_descuento_label { }
.css_descuento_line {text-align:left;}
.css_descuento_obj {text-align:left;}
.css_valor_total_label { }
.css_valor_total_line {text-align:left;}
.css_valor_total_obj {text-align:left;}
.css_fecha_inicial_label { }
.css_fecha_inicial_line { }
.css_fecha_inicial_obj { }
.css_hora_inicial_label { }
.css_hora_inicial_line { }
.css_hora_inicial_obj { }
.css_fecha_final_label { }
.css_fecha_final_line { }
.css_fecha_final_obj { }
.css_hora_final_label { }
.css_hora_final_line { }
.css_hora_final_obj { }
.css_estado_actual_label { }
.css_estado_actual_line {text-align:left;}
.css_estado_actual_obj {text-align:left;}
.css_recurrencia_label { }
.css_recurrencia_line { }
.css_recurrencia_obj { }
.css_periodo_label { }
.css_periodo_line { }
.css_periodo_obj { }
.css_evaluacion_label { }
.css_evaluacion_line {text-align:left;}
.css_evaluacion_obj {text-align:left;}
