.css_id_tecnico_label, .css_id_tecnico_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_tecnico_grid_line, .css_id_tecnico_grid_line:hover {vertical-align: top;text-align: right;}
.css_nombre_tecnico_label, .css_nombre_tecnico_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nombre_tecnico_grid_line, .css_nombre_tecnico_grid_line:hover {vertical-align: top;text-align: right;}
.css_email_tecnico_label, .css_email_tecnico_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_email_tecnico_grid_line, .css_email_tecnico_grid_line:hover {vertical-align: top;text-align: right;}
.css_telefono_tecnico_label, .css_telefono_tecnico_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_telefono_tecnico_grid_line, .css_telefono_tecnico_grid_line:hover {vertical-align: top;text-align: right;}
.css_usuario_login_label, .css_usuario_login_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usuario_login_grid_line, .css_usuario_login_grid_line:hover {vertical-align: top;text-align: right;}
.css_fecha_nacimiento_label, .css_fecha_nacimiento_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_fecha_nacimiento_grid_line, .css_fecha_nacimiento_grid_line:hover {vertical-align: top;text-align: center;}
