.css_icon_label, .css_icon_label:hover {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_icon_grid_line, .css_icon_grid_line:hover {vertical-align: top;text-align: right;}
.css_articlesubject_label, .css_articlesubject_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_articlesubject_grid_line, .css_articlesubject_grid_line:hover {vertical-align: top;text-align: right;}
.css_articledate_label, .css_articledate_label:hover {text-align:center;vertical-align:middle;justify-content:center;font-weight:bold;}
.css_articledate_grid_line, .css_articledate_grid_line:hover {vertical-align: top;text-align: center;}
.css_articleview_label, .css_articleview_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_articleview_grid_line, .css_articleview_grid_line:hover {vertical-align: top;text-align: right;}
