.css_blk_0, .css_blk_0:hover {background-color:#FFFFFF;}
.css_blk_1, .css_blk_1:hover {background-color:#FFFFFF;}
.css_topview_grid_line, .css_topview_grid_line:hover {text-align: right;}
.css_lastarticles_grid_line, .css_lastarticles_grid_line:hover {vertical-align: top;text-align: right;}
