.css_id_cliente_label, .css_id_cliente_label:hover {text-align:left;}
.css_id_cliente_grid_line, .css_id_cliente_grid_line:hover {vertical-align: top;}
.css_nombre_cliente_label, .css_nombre_cliente_label:hover {text-align:left;}
.css_nombre_cliente_grid_line, .css_nombre_cliente_grid_line:hover {vertical-align: top;}
.css_email_cliente_label, .css_email_cliente_label:hover {text-align:left;}
.css_email_cliente_grid_line, .css_email_cliente_grid_line:hover {vertical-align: top;}
.css_telefono_cliente_label, .css_telefono_cliente_label:hover {text-align:left;}
.css_telefono_cliente_grid_line, .css_telefono_cliente_grid_line:hover {vertical-align: top;}
.css_direccion_cliente_label, .css_direccion_cliente_label:hover {text-align:left;}
.css_direccion_cliente_grid_line, .css_direccion_cliente_grid_line:hover {vertical-align: top;}
.css_postal_cliente_label, .css_postal_cliente_label:hover {text-align:left;}
.css_postal_cliente_grid_line, .css_postal_cliente_grid_line:hover {vertical-align: top;}
.css_ciudad_cliente_label, .css_ciudad_cliente_label:hover {text-align:left;}
.css_ciudad_cliente_grid_line, .css_ciudad_cliente_grid_line:hover {vertical-align: top;}
.css_pais_cliente_label, .css_pais_cliente_label:hover {text-align:left;}
.css_pais_cliente_grid_line, .css_pais_cliente_grid_line:hover {vertical-align: top;}
.css_mapa_grid_line, .css_mapa_grid_line:hover {text-align: right;}
