.css_blk_0, .css_blk_0:hover {}
.css_customerid_label, .css_customerid_label:hover {text-align:left;}
.css_customerid_grid_line, .css_customerid_grid_line:hover {vertical-align: top;width: 300px;}
.css_customername_label, .css_customername_label:hover {text-align:left;}
.css_customername_grid_line, .css_customername_grid_line:hover {vertical-align: top;width: 300px;}
.css_customeremail_label, .css_customeremail_label:hover {text-align:left;}
.css_customeremail_grid_line, .css_customeremail_grid_line:hover {vertical-align: top;}
.css_customerphone_label, .css_customerphone_label:hover {text-align:left;}
.css_customerphone_grid_line, .css_customerphone_grid_line:hover {vertical-align: top;}
.css_customerpassword_label, .css_customerpassword_label:hover {text-align:left;}
.css_customerpassword_grid_line, .css_customerpassword_grid_line:hover {vertical-align: top;}
.css_customertype_label, .css_customertype_label:hover {text-align:left;}
.css_customertype_grid_line, .css_customertype_grid_line:hover {vertical-align: top;}
.css_subgrid_status_grid_line, .css_subgrid_status_grid_line:hover {vertical-align: top;text-align: right;}
.css_subgrid_categories_grid_line, .css_subgrid_categories_grid_line:hover {vertical-align: top;text-align: right;}
