.css_id_order_label {text-align:;}
.css_id_order_line {text-align:left;}
.css_id_order_obj {text-align:left;}
.css_dt_order_start_label { }
.css_dt_order_start_line { }
.css_dt_order_start_obj { }
.css_order_status_label { }
.css_order_status_line {text-align:left;}
.css_order_status_obj {text-align:left;}
.css_user_login_label { }
.css_user_login_line { }
.css_user_login_obj { }
.css_people_label {text-align:;}
.css_people_line {text-align:left;}
.css_people_obj {text-align:left;}
.css_id_table_label { }
.css_id_table_line { }
.css_id_table_obj {text-align:right;}
.css_items_label { }
.css_items_line { }
.css_items_obj { }
