.css_descripcion_label, .css_descripcion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descripcion_grid_line, .css_descripcion_grid_line:hover {vertical-align: top;text-align: right;}
.css_duracion_label, .css_duracion_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_duracion_grid_line, .css_duracion_grid_line:hover {vertical-align: top;text-align: right;}
.css_valor_label, .css_valor_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_valor_grid_line, .css_valor_grid_line:hover {vertical-align: top;text-align: right;}
.css_id_tipos_agenda_label, .css_id_tipos_agenda_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_id_tipos_agenda_grid_line, .css_id_tipos_agenda_grid_line:hover {vertical-align: top;text-align: right;}
.css_duracion_mostrada_label, .css_duracion_mostrada_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_duracion_mostrada_grid_line, .css_duracion_mostrada_grid_line:hover {vertical-align: top;text-align: right;}
.css_tipo_duracion_label, .css_tipo_duracion_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_duracion_grid_line, .css_tipo_duracion_grid_line:hover {vertical-align: top;text-align: right;}
