.css_ticketcontent_label { }
.css_ticketcontent_line { }
.css_ticketcontent_obj { }
.css_ticketfile1_label { }
.css_ticketfile1_line { }
.css_ticketfile1_obj { }
.css_ticketfile2_label { }
.css_ticketfile2_line { }
.css_ticketfile2_obj { }
.css_ticketfile3_label { }
.css_ticketfile3_line { }
.css_ticketfile3_obj { }
.css_messagenote_label { }
.css_messagenote_line { }
.css_messagenote_obj { }
.css_closeticket_label { }
.css_closeticket_line { }
.css_closeticket_obj { }
.css_transferticket_label { }
.css_transferticket_line { }
.css_transferticket_obj { }
.css_categoryid_label { }
.css_categoryid_line { }
.css_categoryid_obj { }
.css_ticketpriorityid_label { }
.css_ticketpriorityid_line { }
.css_ticketpriorityid_obj { }
.css_templateid_label { }
.css_templateid_line { }
.css_templateid_obj { }
.css_ticketmessageid_obj {text-align:left;}
.css_ticketid_obj {text-align:left;}
.css_operatorid_obj {text-align:left;}
