.css_persona_det_label, .css_persona_det_label:hover {text-align: right;vertical-align: middle;}
.css_persona_det_line, .css_persona_det_line:hover {height:0px;text-align: right;}
.css_ingreso_de_faltas_det_label, .css_ingreso_de_faltas_det_label:hover {text-align: right;vertical-align: middle;}
.css_ingreso_de_faltas_det_line, .css_ingreso_de_faltas_det_line:hover {height:0px;text-align: right;}
.css_porcentaje_det_label, .css_porcentaje_det_label:hover {text-align: right;vertical-align: middle;}
.css_porcentaje_det_line, .css_porcentaje_det_line:hover {height:0px;text-align: right;}
