.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_porcentaje_sum_label, .css_porcentaje_sum_label:hover {text-align: right; vertical-align: top}
.css_porcentaje_sum_field, .css_porcentaje_sum_field:hover {text-align: right; vertical-align: top}
.css_ingreso_de_faltas_sum_label, .css_ingreso_de_faltas_sum_label:hover {text-align: right; vertical-align: top}
.css_ingreso_de_faltas_sum_field, .css_ingreso_de_faltas_sum_field:hover {text-align: right; vertical-align: top}
