.css_codigo_det_label, .css_codigo_det_label:hover {text-align: right;vertical-align: middle;}
.css_codigo_det_line, .css_codigo_det_line:hover {height:0px;text-align: right;}
.css_nombre_det_label, .css_nombre_det_label:hover {text-align: right;vertical-align: middle;}
.css_nombre_det_line, .css_nombre_det_line:hover {height:0px;text-align: right;}
.css_continente_det_label, .css_continente_det_label:hover {text-align: right;vertical-align: middle;}
.css_continente_det_line, .css_continente_det_line:hover {height:0px;text-align: right;}
.css_region_det_label, .css_region_det_label:hover {text-align: right;vertical-align: middle;}
.css_region_det_line, .css_region_det_line:hover {height:0px;text-align: right;}
.css_codigo2_det_label, .css_codigo2_det_label:hover {text-align: right;vertical-align: middle;}
.css_codigo2_det_line, .css_codigo2_det_line:hover {height:0px;text-align: right;}
