.css_practitioners_practitioner_id_label, .css_practitioners_practitioner_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_practitioner_id_grid_line, .css_practitioners_practitioner_id_grid_line:hover {vertical-align: top;text-align: right;}
