.css_id_menu__label { }
.css_id_menu__line {text-align:left;}
.css_id_menu__obj {text-align:left;}
.css_quantity__label { }
.css_quantity__line {text-align:left;}
.css_quantity__obj {text-align:left;}
.css_total_value__label { }
.css_total_value__line {text-align:left;}
.css_total_value__obj {text-align:left;}
.css_unit_value__label {text-align:right;}
.css_unit_value__line {text-align:right;}
.css_unit_value__obj {text-align:right;}
