.css_articlesubject_label, .css_articlesubject_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_articlesubject_grid_line, .css_articlesubject_grid_line:hover {vertical-align: top;text-align: right;}
.css_articleview_label, .css_articleview_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_articleview_grid_line, .css_articleview_grid_line:hover {vertical-align: top;text-align: right;}
.css_rating_label, .css_rating_label:hover {text-align:left;vertical-align:top;justify-content:left;font-weight:bold;}
.css_rating_grid_line, .css_rating_grid_line:hover {vertical-align: top;width: 85px;text-align: right;}
