.css_id_tipos_agenda_label { }
.css_id_tipos_agenda_line {text-align:left;}
.css_id_tipos_agenda_obj {text-align:left;}
.css_descripcion_label { }
.css_descripcion_line { }
.css_descripcion_obj { }
.css_duracion_mostrada_label { }
.css_duracion_mostrada_line {text-align:left;}
.css_duracion_mostrada_obj {text-align:left;}
.css_tipo_duracion_label { }
.css_tipo_duracion_line { }
.css_tipo_duracion_obj { }
.css_duracion_label { }
.css_duracion_line {text-align:left;}
.css_duracion_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_activado_label { }
.css_activado_line { }
.css_activado_obj { }
