.css_categoryid_label, .css_categoryid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoryid_grid_line, .css_categoryid_grid_line:hover {vertical-align: top;width: 300px;text-align: left;}
.css_tickets_label, .css_tickets_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tickets_grid_line, .css_tickets_grid_line:hover {vertical-align: top;width: 50px;text-align: left;}
