.css_categoryid__label {text-align:right;}
.css_categoryid__line {text-align:right;}
.css_categoryid__obj {text-align:right;}
.css_categoryname__label { }
.css_categoryname__line { }
.css_categoryname__obj { }
