.css_ticketcontent_label { }
.css_ticketcontent_line { }
.css_ticketcontent_obj { }
.css_ticketfile1_label { }
.css_ticketfile1_line { }
.css_ticketfile1_obj { }
.css_ticketfile2_label { }
.css_ticketfile2_line { }
.css_ticketfile2_obj { }
.css_ticketfile3_label { }
.css_ticketfile3_line { }
.css_ticketfile3_obj { }
.css_fld_category_label { }
.css_fld_category_line { }
.css_fld_category_obj { }
.css_fld_subject_label { }
.css_fld_subject_line { }
.css_fld_subject_obj { }
.css_fld_customer_name_label { }
.css_fld_customer_name_line { }
.css_fld_customer_name_obj { }
.css_fld_customer_email_label { }
.css_fld_customer_email_line { }
.css_fld_customer_email_obj { }
.css_fld_language_label { }
.css_fld_language_line { }
.css_fld_language_obj { }
.css_ticketmessageid_obj {text-align:left;}
.css_ticketid_obj {text-align:left;}
.css_operatorid_obj {text-align:left;}
