.css_id_order_label {text-align:;}
.css_id_order_line {text-align:left;}
.css_id_order_obj {text-align:left;}
.css_id_menu_label { }
.css_id_menu_line {text-align:left;}
.css_id_menu_obj {text-align:left;}
.css_quantity_label {text-align:;}
.css_quantity_line {text-align:left;}
.css_quantity_obj {text-align:left;}
.css_id_kitchen_status_label { }
.css_id_kitchen_status_line {text-align:left;}
.css_id_kitchen_status_obj {text-align:left;}
