.css_id_det_label, .css_id_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_det_line, .css_id_det_line:hover {height:0px;text-align: left;}
.css_id_cliente_det_label, .css_id_cliente_det_label:hover {text-align: left;vertical-align: middle;}
.css_id_cliente_det_line, .css_id_cliente_det_line:hover {height:0px;text-align: left;}
.css_codigo_pais_iso_det_label, .css_codigo_pais_iso_det_label:hover {text-align: left;vertical-align: middle;}
.css_codigo_pais_iso_det_line, .css_codigo_pais_iso_det_line:hover {height:0px;text-align: left;}
.css_nombre_det_label, .css_nombre_det_label:hover {text-align: left;vertical-align: middle;}
.css_nombre_det_line, .css_nombre_det_line:hover {height:0px;text-align: left;}
.css_distrito_det_label, .css_distrito_det_label:hover {text-align: left;vertical-align: middle;}
.css_distrito_det_line, .css_distrito_det_line:hover {height:0px;text-align: left;}
