.css_statusid_label, .css_statusid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_statusid_grid_line, .css_statusid_grid_line:hover {vertical-align: top;width: 300px;text-align: left;}
.css_tickets_label, .css_tickets_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tickets_grid_line, .css_tickets_grid_line:hover {vertical-align: top;width: 50px;text-align: left;}
