.css_persona_det_label, .css_persona_det_label:hover {text-align: left;vertical-align: middle;}
.css_persona_det_line, .css_persona_det_line:hover {height:0px;text-align: left;}
.css_cantidad_de_faltas_det_label, .css_cantidad_de_faltas_det_label:hover {text-align: left;vertical-align: middle;}
.css_cantidad_de_faltas_det_line, .css_cantidad_de_faltas_det_line:hover {height:0px;text-align: left;}
.css_porcentaje_det_label, .css_porcentaje_det_label:hover {text-align: left;vertical-align: middle;}
.css_porcentaje_det_line, .css_porcentaje_det_line:hover {height:0px;text-align: left;}
