.css_practitioners_practitioner_id_label, .css_practitioners_practitioner_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_practitioner_id_grid_line, .css_practitioners_practitioner_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_practitioners_area_id_label, .css_practitioners_area_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_area_id_grid_line, .css_practitioners_area_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_leve_label, .css_leve_label:hover {text-align:;vertical-align:middle;justify-content:;font-weight:bold;}
.css_leve_grid_line, .css_leve_grid_line:hover {text-align: left;}
.css_moderada_label, .css_moderada_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_moderada_grid_line, .css_moderada_grid_line:hover {text-align: right;}
.css_grave_label, .css_grave_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_grave_grid_line, .css_grave_grid_line:hover {text-align: right;}
.css_alerta_label, .css_alerta_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_alerta_grid_line, .css_alerta_grid_line:hover {text-align: right;}
.css_sc_field_0_label, .css_sc_field_0_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_sc_field_0_grid_line, .css_sc_field_0_grid_line:hover {text-align: right;}
.css_practitioners_division_id_label, .css_practitioners_division_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_division_id_grid_line, .css_practitioners_division_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_practitioners_general_id_label, .css_practitioners_general_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_general_id_grid_line, .css_practitioners_general_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_practitioners_turn_id_label, .css_practitioners_turn_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_turn_id_grid_line, .css_practitioners_turn_id_grid_line:hover {vertical-align: top;text-align: right;}
.css_practitioners_profile_id_label, .css_practitioners_profile_id_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_practitioners_profile_id_grid_line, .css_practitioners_profile_id_grid_line:hover {vertical-align: top;text-align: right;}
