.css_reservation_date_label { }
.css_reservation_date_line { }
.css_reservation_date_obj { }
.css_reservation_time_label { }
.css_reservation_time_line { }
.css_reservation_time_obj { }
.css_number_hours_label { }
.css_number_hours_line {text-align:left;}
.css_number_hours_obj {text-align:left;}
.css_people_label { }
.css_people_line {text-align:left;}
.css_people_obj {text-align:left;}
.css_id_customer_label { }
.css_id_customer_line {text-align:left;}
.css_id_customer_obj {text-align:left;}
.css_id_stage_label { }
.css_id_stage_line {text-align:left;}
.css_id_stage_obj {text-align:left;}
.css_confirmation_date_label { }
.css_confirmation_date_line { }
.css_confirmation_date_obj { }
