.css_blk_0, .css_blk_0:hover {background-color:#eeeeee;}
.css_ticketmessage_ticketdate_label, .css_ticketmessage_ticketdate_label:hover {text-align:left;}
.css_ticketmessage_ticketdate_grid_line, .css_ticketmessage_ticketdate_grid_line:hover {color:#FF3300;vertical-align: top;}
.css_messagestatus_label, .css_messagestatus_label:hover {text-align:left;}
.css_messagestatus_grid_line, .css_messagestatus_grid_line:hover {vertical-align: top;}
.css_ticketmessage_operatorid_label, .css_ticketmessage_operatorid_label:hover {text-align:left;}
.css_ticketmessage_operatorid_grid_line, .css_ticketmessage_operatorid_grid_line:hover {vertical-align: top;}
.css_ticketmessage_ticketcontent_label, .css_ticketmessage_ticketcontent_label:hover {text-align:left;}
.css_ticketmessage_ticketcontent_grid_line, .css_ticketmessage_ticketcontent_grid_line:hover {vertical-align: top;}
.css_ticketmessage_ticketfile1_grid_line, .css_ticketmessage_ticketfile1_grid_line:hover {vertical-align: top;text-align: right;}
.css_ticketmessage_ticketfile2_grid_line, .css_ticketmessage_ticketfile2_grid_line:hover {vertical-align: top;text-align: right;}
.css_ticketmessage_ticketfile3_grid_line, .css_ticketmessage_ticketfile3_grid_line:hover {vertical-align: top;text-align: right;}
