.css_ticketlanguage_label, .css_ticketlanguage_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_ticketlanguage_grid_line, .css_ticketlanguage_grid_line:hover {vertical-align: top;text-align: right;}
.css_usertype_label, .css_usertype_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_usertype_grid_line, .css_usertype_grid_line:hover {vertical-align: top;text-align: right;}
.css_statusid_label, .css_statusid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_statusid_grid_line, .css_statusid_grid_line:hover {vertical-align: top;text-align: right;}
.css_title_label, .css_title_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_title_grid_line, .css_title_grid_line:hover {vertical-align: top;text-align: right;}
.css_enabled_label, .css_enabled_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_enabled_grid_line, .css_enabled_grid_line:hover {vertical-align: top;text-align: right;}
