.css_blk_0, .css_blk_0:hover {}
.css_ticket_tickettrack_label, .css_ticket_tickettrack_label:hover {text-align:left;}
.css_ticket_tickettrack_grid_line, .css_ticket_tickettrack_grid_line:hover {vertical-align: top;}
.css_ticket_ticketlastupdate_label, .css_ticket_ticketlastupdate_label:hover {text-align:left;}
.css_ticket_ticketlastupdate_grid_line, .css_ticket_ticketlastupdate_grid_line:hover {vertical-align: top;}
.css_customer_customername_label, .css_customer_customername_label:hover {text-align:left;}
.css_customer_customername_grid_line, .css_customer_customername_grid_line:hover {vertical-align: top;}
.css_ticket_categoryid_label, .css_ticket_categoryid_label:hover {text-align:left;}
.css_ticket_categoryid_grid_line, .css_ticket_categoryid_grid_line:hover {vertical-align: top;}
.css_ticket_subject_label, .css_ticket_subject_label:hover {text-align:left;}
.css_ticket_subject_grid_line, .css_ticket_subject_grid_line:hover {vertical-align: top;}
.css_ticketpriority_priorityname_label, .css_ticketpriority_priorityname_label:hover {text-align:left;}
.css_ticketpriority_priorityname_grid_line, .css_ticketpriority_priorityname_grid_line:hover {vertical-align: top;}
.css_ticketstatus_statusname_label, .css_ticketstatus_statusname_label:hover {text-align:left;}
.css_ticketstatus_statusname_grid_line, .css_ticketstatus_statusname_grid_line:hover {vertical-align: top;}
.css_message_grid_line, .css_message_grid_line:hover {text-align: left;}
