.css_NM_Count_cnt_field, .css_NM_Count_cnt_field:hover {text-align: right}
.css_valor_total_sum_label, .css_valor_total_sum_label:hover {text-align: right; vertical-align: top}
.css_valor_total_sum_field, .css_valor_total_sum_field:hover {text-align: right; vertical-align: top}
.css_estado_actual_cnt_label, .css_estado_actual_cnt_label:hover {text-align: right; vertical-align: top}
.css_estado_actual_cnt_field, .css_estado_actual_cnt_field:hover {text-align: right; vertical-align: top}
.css_valor_total_max_label, .css_valor_total_max_label:hover {text-align: right; vertical-align: top}
.css_valor_total_max_field, .css_valor_total_max_field:hover {text-align: right; vertical-align: top}
.css_valor_total_avg_label, .css_valor_total_avg_label:hover {text-align: right; vertical-align: top}
.css_valor_total_avg_field, .css_valor_total_avg_field:hover {text-align: right; vertical-align: top}
