.css_id_horario_trabajo_tecnicos__label {text-align:;}
.css_id_horario_trabajo_tecnicos__line {text-align:left;}
.css_id_horario_trabajo_tecnicos__obj {text-align:left;}
.css_id_tecnico__label {text-align:;}
.css_id_tecnico__line {text-align:left;}
.css_id_tecnico__obj {text-align:left;}
.css_dia_semana__label {text-align:;}
.css_dia_semana__line {text-align:left;}
.css_dia_semana__obj {text-align:left;}
.css_hora_inicial__label { }
.css_hora_inicial__line { }
.css_hora_inicial__obj { }
.css_hora_final__label { }
.css_hora_final__line { }
.css_hora_final__obj { }
