.css_blk_0, .css_blk_0:hover {background-color:#FFFFCC;}
.css_ticketdate_label, .css_ticketdate_label:hover {text-align:left;}
.css_ticketdate_grid_line, .css_ticketdate_grid_line:hover {vertical-align: top;}
.css_messagetype_label, .css_messagetype_label:hover {text-align:left;}
.css_messagetype_grid_line, .css_messagetype_grid_line:hover {vertical-align: top;}
.css_messagestatus_label, .css_messagestatus_label:hover {text-align:left;}
.css_messagestatus_grid_line, .css_messagestatus_grid_line:hover {vertical-align: top;}
.css_operatorid_label, .css_operatorid_label:hover {text-align:left;}
.css_operatorid_grid_line, .css_operatorid_grid_line:hover {vertical-align: top;}
.css_ticketcontent_label, .css_ticketcontent_label:hover {text-align:left;}
.css_ticketcontent_grid_line, .css_ticketcontent_grid_line:hover {vertical-align: top;}
.css_messagenote_label, .css_messagenote_label:hover {text-align:left;}
.css_messagenote_grid_line, .css_messagenote_grid_line:hover {vertical-align: top;}
.css_ticketfile1_label, .css_ticketfile1_label:hover {text-align:left;}
.css_ticketfile1_grid_line, .css_ticketfile1_grid_line:hover {vertical-align: top;}
.css_ticketfile2_label, .css_ticketfile2_label:hover {text-align:left;}
.css_ticketfile2_grid_line, .css_ticketfile2_grid_line:hover {vertical-align: top;}
.css_ticketfile3_label, .css_ticketfile3_label:hover {text-align:left;}
.css_ticketfile3_grid_line, .css_ticketfile3_grid_line:hover {vertical-align: top;}
