.css_templateid_label, .css_templateid_label:hover {text-align:right;vertical-align:middle;justify-content:right;font-weight:bold;}
.css_templateid_grid_line, .css_templateid_grid_line:hover {vertical-align: top;text-align: right;}
.css_categoryid_label, .css_categoryid_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoryid_grid_line, .css_categoryid_grid_line:hover {vertical-align: top;text-align: right;}
.css_templatedescription_label, .css_templatedescription_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_templatedescription_grid_line, .css_templatedescription_grid_line:hover {vertical-align: top;text-align: right;}
