.css_id_agenda_label, .css_id_agenda_label:hover {text-align:left;}
.css_id_agenda_grid_line, .css_id_agenda_grid_line:hover {vertical-align: top;}
.css_fecha_inicial_label, .css_fecha_inicial_label:hover {text-align:left;}
.css_fecha_inicial_grid_line, .css_fecha_inicial_grid_line:hover {vertical-align: top;}
.css_hora_inicial_label, .css_hora_inicial_label:hover {text-align:left;}
.css_hora_inicial_grid_line, .css_hora_inicial_grid_line:hover {vertical-align: top;}
.css_estado_actual_label, .css_estado_actual_label:hover {text-align:left;}
.css_estado_actual_grid_line, .css_estado_actual_grid_line:hover {vertical-align: top;}
.css_id_cliente_label, .css_id_cliente_label:hover {text-align:left;}
.css_id_cliente_grid_line, .css_id_cliente_grid_line:hover {vertical-align: top;}
.css_evaluacion_label, .css_evaluacion_label:hover {text-align:left;}
.css_evaluacion_grid_line, .css_evaluacion_grid_line:hover {vertical-align: top;}
.css_valor_label, .css_valor_label:hover {text-align:left;}
.css_valor_grid_line, .css_valor_grid_line:hover {vertical-align: top;}
.css_costes_adicionales_label, .css_costes_adicionales_label:hover {text-align:left;}
.css_costes_adicionales_grid_line, .css_costes_adicionales_grid_line:hover {vertical-align: top;}
.css_descuento_label, .css_descuento_label:hover {text-align:left;}
.css_descuento_grid_line, .css_descuento_grid_line:hover {vertical-align: top;}
.css_valor_total_label, .css_valor_total_label:hover {text-align:left;}
.css_valor_total_grid_line, .css_valor_total_grid_line:hover {vertical-align: top;}
.css_id_tecnico_label, .css_id_tecnico_label:hover {text-align:left;}
.css_id_tecnico_grid_line, .css_id_tecnico_grid_line:hover {vertical-align: top;}
