.css_valor_total_label { }
.css_valor_total_line {text-align:left;}
.css_valor_total_obj {text-align:left;}
.css_fecha_inicial_label { }
.css_fecha_inicial_line { }
.css_fecha_inicial_obj { }
.css_hora_inicial_label { }
.css_hora_inicial_line { }
.css_hora_inicial_obj { }
.css_dia_de_semana_label { }
.css_dia_de_semana_line { }
.css_dia_de_semana_obj {text-align:left;}
