.css_id_table__label {text-align:;}
.css_id_table__line {text-align:left;}
.css_id_table__obj {text-align:left;}
.css_seats__label {text-align:;}
.css_seats__line {text-align:left;}
.css_seats__obj {text-align:left;}
.css_id_room__label { }
.css_id_room__line {text-align:left;}
.css_id_room__obj {text-align:left;}
